<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div style="text-align: center">
      <form method="post" action="/save/confluence">
        Username  <input type="text" name="username" placeholder="admin"><br />
        Password <input type="password" name="password"><br />
        Site URL  <input type="url" size="50" name="baseUrl" placeholder="https://savvy-development.atlassian.net"><br />
        <i> ie https://savvy-development.atlassian.net</i><br />
        <input type="submit">
      </form>
  </div>
  </body>
</html>
