<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>
  <center>
    <h1>Source Testing</h1>
    <a href="./add/google-drive">Add New Google Drive</a>
    <br />
    <br />
    <a href="./add/confluence">Add New Confluence</a>
    <br />
    (saves authorisation to db and processes files)
  </div>
  </center>
</body>
</html>
