<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="get" action="/authorisations/save-confluence">
      Username  <input type="text" name="username" placeholder="admin"><br />
      Password <input type="password" name="password"><br />
      Site URL  <input type="url" name="baseUrl" placeholder="https://savvy-development.atlassian.net">
      <i> ie https://savvy-development.atlassian.net</i><br />
      <input type="submit">
    </form>

  </body>
</html>
